<form action="/password_reset" method="post">
  New password: <input type="password" name="new_password">
  New password confirmation: <input type="password" name="new_password_confirmation">
  <input type="submit" value="Reset Password"
</form>