<form id="sign-up-form" action="/users" method="post">
  Choose a username <input class="sign-up-field" type="text" name="username" placeholder="type username here">
  Enter your email <input class="sign-up-field" type="email" name="email" placeholder="type email here">
  Choose a password <input class="sign-up-field" type="password" name="password" placeholder="make it something safe">
  Confirm your password <input class="sign-up-field" type="password" name="password_confirmation" placeholder="type it again, go on">
  Bio (optional) <input class="sign-up-field" type="text" name="bio" placeholder="tell us about yourself, if you like, why not?">
  Choose your emoji (optional)
  <input name="emoji" type="text" id="option1" class="emojiable-option" placeholder="Choose an emoji!" maxlength="2">
  <input type="submit" value="Submit">
</form>
