<form action="/" method="post">
  Choose a username <input type="text" name="username" placeholder="type username here">
  Enter your email <input type="email" name="email" placeholder="type email here">
  Choose a password <input type="password" name="password" placeholder="make it something safe">
  Confirm your password <input type="password" name="password_confirm" placeholder="type it again, go on">
  <input type="submit" value="Submit">
</form>
