Please enter your email address:
<form method='post' action='/password_reset'>
  <input type='email' name='email' placeholder="emaaaaaaaail">
  <input type='submit' value='Send recovery email'>
</form>
