header {
  width:             100%;
  height:            60px;
  background-color: rgba(0,0,0,.6);
  color:             #D8CFAF;
  font-family: "phosphate";
  font-weight: lighter;
  display: flex;
   position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.small-header {
  font-size: 27px;
}

.button {
  display: inline-block;
  background-color: #466365;
  border: none;
  border-radius: 5px;
  padding: 7px 14px;
}

.icon {
  display: inline-block;
  vertical-align: text-bottom;
  margin: auto 20px;
  font-size: 35px;
}


h1 {
  font-family: "phosphate";
}

form {
  display: inline-block;
}

li {
  display: inline;
}

body {

  background-color: #D2E1E4;
}

main {
  padding: 70px;
  text-align: center;
}

#user_manage {
  float: right;
  display: inline-block;
}

#welcome {
}

#log_out{
}
