<form action="/onda/new" method="post">
  <input type="url" name="link">
  <input type="text" name="message">
  <input type="text" name="tag">
  <button type="submit" value="post">
</form>


<ul>
<% if @ondas %>
  <% @ondas.each do |onda| %>
    <li>
      Canto: <%= onda.link %>
      Why are you sharing this, m8? <%= onda.message %>
      Genres: <%= onda.tags %>
    </li>
  <% end %>
<% end %>
</ul>
