<!DOCTYPE html>
<html>

  <head>
    <title>QueOnda</title>
    <script type="text/javascript" src="/javascript/jquery.js"></script>
    <link rel="stylesheet" href ="/normalise.css" type='text/css'>
    <link rel="stylesheet" href ="/styles.css" type='text/css'>
    <link rel="stylesheet" type="text/css" href="/jquery.emojipicker.css">
    <link rel="stylesheet" type="text/css" href="/jquery.emojipicker.a.css">
  </head>

  <body>
    <header>
      <a href="/"><h1 class = "icon">Q<span class="small-header">ue</span>O<span class="small-header">nda</span></h1></a>
      <%= partial :user_management %>
    </header>
    <main>
    <%= partial :flash %>
    <%= yield %>
    </main>


  </body>


  <script type="text/javascript" src="/javascript/jquery.emojipicker.js"></script>

  <!-- Emoji Data -->
  <script type="text/javascript" src="/javascript/jquery.emojipicker.a.js"></script>
  <script type="text/javascript" src="/javascript/emoji.js"></script>



</html>
