<section class="new-post">
  <form action="/onda/new" method="post">
    Youtube link: <input type="url" name="link" placeholder="include the https:// and all that">
    <input type="text" name="message" placeholder="Why are you sharing this, m8?">
    Genre tags: <input type="text" name="tag">
    Artist: <input type="text" name="artist">
    Song: <input type="text" name="song">
    <input type="submit" value="post">
  </form>
</section>
